:root{
    --amarillo: #F9BD07;
    --titles: "Rubik Mono One", monospace;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* GENERALIDADES  */
.inline{
    display: inline;
}
.block{
    display: block;
}
.display-none{
    display: none;
}

.no-list{
    list-style: none;
}
.no-link a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    list-style: none;
}

.no-link-white a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    list-style: none;
}


body{
    /* max-width: 98.9vw; */
    background-color: white;
}


.subrayado::after{
    content: "";
    display: block;
    height: 3px;
    background-color: var(--amarillo);
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .3s;
}

.subrayado:hover::after{
    transform: scale(1,1);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }



.max-width{
}

/* HEADER  */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 80px;
    box-shadow: 1px 1px 10px black;
    z-index: 10;
}

.header .header-uno {
    display: flex;
    justify-content: space-between;
}

.header .header-uno .header-titulogo a:link, a:visited, .a:active{
    color: black;
    text-decoration: none;
    list-style: none;
}

.header .header-uno .header-a{
    /* title  */
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .header-uno .header-titulogo .header-logo{
    /* IMG LOGO */
    max-width: 100px;
}
.header .header-uno .header-titulogo .header-titulo{
    font-family: var(--titles);
    font-weight: 400;
    font-style: normal;
}


.header .header-uno .header-titulogo .titulo-subtitulo .titulo-dos{
    color: var(--amarillo);
}

.header .header-uno .header-titulogo .header-subtitulo{
    /* SUbtitulo */
}

.header .header-uno .header-nav{
    /* nav  */
    margin: 0 20px 0 0;
    align-self: center;
    float: right;
    display: flex;
    gap: 20px;
}

.header .header-uno .burger-contein{
    display: none;
}




/*---------- MAIN ---------- */
.main{
   
}

 /* Section 1 */
.main .section-uno{
    width: 100%;
    padding-top: 80px;
    margin: 0 auto;
}

.main .section-uno .text-contein{
    width: 90vw;
    margin: 0 auto;
    text-align: left;
}
.main .section-uno .backimg{
    width: 100%;
    background-image: url(../img/back_img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main .section-uno .backimg .subtitle{
    font-size: 60px;
    color: var(--amarillo);
    text-shadow: black 1px 1px;
    padding-left: 5px;
}
.main .section-uno .backimg .text{
    padding: 20px 0 20px 5px;
    font-size: 25px;
    line-height: 40px;
    color: black;
    /* text-shadow: black 1px 1px; */
}





/* Section 2 */
.main .section-dos {
    max-width: 90vw;
    min-height: 300px;
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
}

.main .section-dos .title{
    color: var(--amarillo);
    text-align: center;
    font-size: 2rem;
}

/* cotizacion */
.main .section-dos .cotizacion{ 

}

.main .section-dos .cotizacion .form-cotizacion{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
}

.main .section-dos .cotizacion .form-dynamic{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.main .section-dos .cotizacion .form-cotizacion .form-dynamic label{
}

.main .section-dos .cotizacion .form-cotizacion .form-dynamic .input{
    min-width: 350px;
    min-height: 40px;
    border-radius: 20px;
    text-align: center;
}

.main .section-dos .cotizacion .form-cotizacion .input:hover{
    cursor: pointer;
}

.main .section-dos .cotizacion .btn-section{
    display: flex;
    gap: 30px;
}

.main .section-dos .cotizacion .btn{
    min-height: 40px;
    min-width: 200px;
    padding: 0 15px;
    border-radius:20px;
    background: linear-gradient(to bottom, #eee, #ccc);
    border: 1px;
    font-size: medium;
    letter-spacing: 1px;
}

.main .section-dos .cotizacion .btn:hover{
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0.5), rgba(204, 204, 204, 0.5));
}

.main .section-dos .cotizacion .form4 *{
    display: none;
}




/* contacto */
.main .section-dos .contacto-main{

}

.main .section-dos .contacto-main .icon {
    padding: 20px 0 20px 50px;
    color: black;
}

.main .section-dos .contacto-main .icons img{
    max-height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}





/* Section 3 */
.main .section-tres{

}
.main .section-tres .article-tres{
    background-image: url(../img/domo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    min-height: 300px;
    width: 100%; 
    position: relative;   
}
.main .section-tres .article-tres .max-width{
    width: 90vw;
    margin: 0 auto;
}
.main .section-tres .article-tres .text-contein{
    padding: 10px 0;
    line-height: 1.6;
    text-align: right;
}

.main .section-tres .article-tres .text-contein .subtitle{
    font-size: 30px;
    color: var(--amarillo);
    margin-bottom: 20px;
}

.main .section-tres .article-tres .text-contein .list-productos{
    font-size: 20px;
    margin-top: 20px;
}
.main .section-tres .article-tres .text-contein .list-productos .list-services{
    margin: 10px 0;
}

.main .section-tres .article-tres .text-contein .list-productos a:hover{
    cursor: pointer;
}

.main .section-tres .article-tres .text-contein .list-productos .sub-menu-contein{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 5;
    text-align: left;
    border-radius: 8px;
    min-width: 60%;
}

.main .section-tres .article-tres .text-contein .list-productos .sub-menu h2 {
    font-size: 2rem;
    color: var(--amarillo);
    margin-bottom: 10px;
    text-align: center;
}

.main .section-tres .article-tres .text-contein .list-productos .sub-menu p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 10px;
}

.main .section-tres .article-tres .text-contein .list-productos .sub-menu ul {
    padding-left: 0;
    margin: 0 10px;
}

.main .section-tres .article-tres .text-contein .list-productos .sub-menu ul li {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
}

.main .section-tres .article-tres .text-contein .list-productos .sub-menu-contein .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--amarillo);
    outline: none;
    font-weight: 500;
}

.main .section-tres .article-tres .text-contein .list-productos .sub-menu-contein .close-button:hover {
    color: red; 
}




/* Section 4 */
.main .section-cuatro{
    width: 95vw;
    margin-bottom: 10px;
}

.main .section-cuatro .marcas-contein{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.main .section-cuatro .marcas-contein .subtitle{
    color: var(--amarillo);
    font-size: 30px;
    text-align: center;
    grid-area: 2 / 1 / auto / 5;

}

.main .section-cuatro .marcas-contein img{
    width: 250px;
}




/*---------- FOOTER ---------- */
.footer{
    min-height: 20vh;
    min-width: 100%;
    /* width: 100vw; */
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 1px 1px 7px black;
}

.footer .columns-conten{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer .columns-conten .section-1{
    align-self: center;
}

.footer .columns-conten .section-1 .footer-titulogo{
    display: flex;
}

.footer .columns-conten .section-1 .footer-logo{
    height: 50px;
}

.footer .columns-conten .section-1 .footer-titulo{
    font-size: 25px;
}
.footer .columns-conten .section-1 .footer-subtitulo{
    font-size: 10px;
}

.footer .columns-conten .section-1 .titulo-2{
    color: var(--amarillo);
}

/* Section 2 Servicios */
.footer .columns-conten .section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .columns-conten .section-2 .list-services{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* section 3 contact */
footer .columns-conten .section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .columns-conten .section-3 .contact-section{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
footer .columns-conten .section-3 .icon img{
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}


/* INDEX MQ */
/* @media screen and( width > 1023 ){
    .header-nav{
        display: block;
    }
} */

@media screen and (750px <= width <=1023px){
    .header-nav{
        display: block;
    }
    /* Section 3 */
    .main .section-tres .article-tres .text-contein{
        
    }

    .main .section-tres .article-tres .text-contein .subtitle{
        /* font-size: 30px; */
        padding-left: 40vw;

    }

    .main .section-tres .article-tres .text-contein .list-productos{
        /* font-size: 20px; */
        letter-spacing: 2px;
    }
    
    /* Section 4 */
    .main .section-cuatro{
        width: 95vw;
        margin-bottom: 30px;
    }

    .main .section-cuatro .marcas-contein{
        max-width: 95vw;
        grid-template-columns: 1fr 1fr;

    }

    .main .section-cuatro .marcas-contein .subtitle{
        font-size: 30px;
        grid-area: 3 / 1 / auto / 3;
        padding: 25px 0;
    }

}



@media screen and (width < 750px){
    .body{
        width: 100vw;
    }
     /* HEADER  */
     .header{
        position: static;
        min-height: auto;
     }
     .header .header-uno {
        margin: 0;
        padding: 0 5vw;
        display: grid;
        grid-template-columns: 1fr 15px;
    }
    .header .header-uno .header-titulogo {
        font-size: 0.6em;
    }
    .header .header-uno .header-titulogo .header-logo{
        max-width: 70px;
    }
    

    
    .header .header-uno .header-nav{
        /* nav  */
        margin: 0 auto;
        padding: 10px 0;
        float: none;
        display: none;
    }

    .header .header-uno .header-nav li{
        margin: 0 auto;
        padding: 10px 0;
        justify-items: center;
    }

    .header .header-uno .header-nav a:hover{
        color: var(--amarillo);
    }
   
    .header .header-uno .burger-contein{
        display: block;
        align-self: center;
    }
    .header .header-uno .burger-contein:hover{
        cursor: pointer;
    }
    

     /* Section 1 */
    .main .section-uno{
        padding: 0;
     }
    .main .section-uno .backimg .subtitle{
        font-size: 40px;
    }

    /* Section 2 */
    .main .section-dos {
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }
    .main .section-dos .cotizacion .form-cotizacion{
    }


    .main .section-dos .cotizacion .form-cotizacion .input{
        min-width: 10px;
        width: 90vw;
        height: auto;
    }
    .main .section-dos .cotizacion .btn-section{
        flex-wrap: wrap;
        justify-content: center;
    }
    


    .main .section-dos .contacto-main{
        margin: 0 auto;
    }

    /* Section 3 */
    .main .section-tres .article-tres .text-contein{
        text-align: right;
    }

    .main .section-tres .article-tres .text-contein .subtitle{
        font-size: 20px;
        width: auto;
    }

    .main .section-tres .article-tres .text-contein .list-productos{
        font-size: 20px;
        letter-spacing: 3px;
    }
    
    /* Section 4 */
    .main .section-cuatro{
        margin: 30px 0;
    }

    .main .section-cuatro .marcas-contein{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .main .section-cuatro .marcas-contein .subtitle{
        font-size: 25px;
        padding: 0;
        margin: 0;
        order: -1;
    }
    .main .section-cuatro .marcas-contein .img{
        /* padding: 10px 0; */
    }
    .main .section-cuatro .marcas-contein .img-3, .img-5, .img-4, .img-6{
        margin: 20px 0;
    }

    /*---------- FOOTER ---------- */
    .footer{
    }

    .footer .columns-conten{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }


    .footer .columns-conten .section-1{
        align-self: center;
        order: 1;
    }

    .footer .columns-conten .footer-none {
        /* display: none; */
    }

}


@media screen and (min-width: 750px) {
    .header .header-uno .header-nav {
        display: flex;
    }
    #navHeader{
        display: flex !important;
    }
}

/* .form1 *, .title-cotizacion, .btn-next, .btn-send, .form2 *, .form3 *{
    display: none;
} */

