:root{
    --amarillo: #F9BD07;
    --titles: "Rubik Mono One", monospace;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* GENERALIDADES  */
.inline{
    display: inline;
}
.block{
    display: block;
}
.display-none{
    display: none;
}
.no-list{
    list-style: none;
}
.no-link a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    list-style: none;
}

.no-link-white a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    list-style: none;
}


body{
    /* max-width: 95vw; */
    margin: 0 auto;
    background-color: white;
}





/* HEADER  */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 80px;
}

.header .header-uno {
    display: flex;
    justify-content: space-between;
}

.header .header-uno .header-titulogo{
    /* title  */
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .header-uno .header-titulogo .header-logo{
    /* IMG LOGO */
    max-width: 100px;
}
.header .header-uno .header-titulogo .header-titulo{
    font-family: var(--titles);
    font-weight: 400;
    font-style: normal;
}

.header .header-uno .header-titulogo .titulo-subtitulo .titulo-dos{
    color: var(--amarillo);
}

.header .header-uno .header-titulogo .header-subtitulo{
    /* SUbtitulo */
}

.header .header-uno .header-nav{
    /* nav  */
    padding-right: 15px;
    align-self: center;
    margin-top: 15px;
    float: right;
    display: flex;
    gap: 10px;
}






/*---------- MAIN ---------- */
.main{
}

 /* Section 1 */
.main .section-uno{
    width: 100%;
    margin-top: 80px;
}

.main .section-uno .text-contein{
    width: 90vw;
    margin: 0 auto;
}
.main .section-uno .backimg{
    width: 100%;
    background-image: url(../img/back_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main .section-uno .backimg .subtitle{
    font-size: 60px;
    color: var(--amarillo);
    text-shadow: black 1px 1px;
    padding-left: 5px;
}
.main .section-uno .backimg .text{
    padding: 20px 0 20px 5px;
    font-size: 25px;
    line-height: 40px;
    color: white;
    text-shadow: black 1px 1px;
}





/* Section 2 */
.main .section-dos {
    max-width: 90vw;
    min-height: 300px;
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
}

.main .section-dos .title{
    color: var(--amarillo);
    text-align: center;
    font-size: large;
}

.main .section-dos .cotizacion{ 

}

.main .section-dos .cotizacion .form-cotizacion{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    min-height: 300px;
}

.main .section-dos .cotizacion .form-cotizacion .label{
    /* padding: 10px; */
}

.main .section-dos .cotizacion .form-cotizacion .input{
    min-width: 350px;
    min-height: 40px;
    border-radius: 20px;
    text-align: center;
}

.main .section-dos .cotizacion .form-cotizacion .input:hover{
    cursor: pointer;
}

.main .section-dos .cotizacion .btn-next{
    float: right;
    min-height: 40px;
    padding: 0 15px;
    border-radius:20px;
    background-color: rgb(208, 207, 207);
    border: 1px;
    font-size: medium;
    letter-spacing: 1px;
}

.main .section-dos .cotizacion .btn-next:hover{
    cursor: pointer;
}










.main .section-dos .contacto-main{

}

.main .section-dos .contacto-main .icons{

}

.main .section-dos .contacto-main .icon {
    padding: 30px;
    color: black;
}

.main .section-dos .contacto-main .icons img{
    max-height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}





/* Section 3 */
.main .section-tres{

}
.main .section-tres .article-tres{
    background-image: url(../img/domo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    min-height: 300px;
    width: 100%;    
}
.main .section-tres .article-tres .max-width{
    width: 90vw;
    margin: 0 auto;
}
.main .section-tres .article-tres .text-contein{
    float: right;
    padding: 10px 0;
    line-height: 40px;
}

.main .section-tres .article-tres .text-contein .subtitle{
    font-size: 30px;
    color: var(--amarillo);
}

.main .section-tres .article-tres .text-contein .list-productos{
    font-size: 20px;
}

