:root{
    --amarillo: #F9BD07;
    --titles: "Rubik Mono One", monospace;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* GENERALIDADES  */
.inline{
    display: inline;
}
.block{
    display: block;
}
.display-none{
    display: none;
}
.no-list{
    list-style: none;
}
.no-link a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    list-style: none;
}

.no-link-white a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    list-style: none;
}


body{
    /* max-width: 95vw; */
    margin: 0 auto;
    background-color: white;
}


.subrayado::after{
    content: "";
    display: block;
    height: 3px;
    background-color: var(--amarillo);
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .3s;
}

.subrayado:hover::after{
    transform: scale(1,1);
}





/* HEADER  */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 80px;
    box-shadow: 1px 1px 10px black;
}

.header .header-uno {
    display: flex;
    justify-content: space-between;
}

.header .header-uno .header-titulogo a:link, a:visited, .a:active{
    color: black;
    text-decoration: none;
    list-style: none;
}

.header .header-uno .header-a{
    /* title  */
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .header-uno .header-titulogo .header-logo{
    /* IMG LOGO */
    max-width: 100px;
}
.header .header-uno .header-titulogo .header-titulo{
    font-family: var(--titles);
    font-weight: 400;
    font-style: normal;
}


.header .header-uno .header-titulogo .titulo-subtitulo .titulo-dos{
    color: var(--amarillo);
}

.header .header-uno .header-titulogo .header-subtitulo{
    /* SUbtitulo */
}

.header .header-uno .header-nav{
    /* nav  */
    margin: 0 20px 0 0;
    align-self: center;
    float: right;
    display: flex;
    gap: 20px;
}




/*---------- MAIN ---------- */
.main{
}

 /* Section 1 */
.main .section-uno{
    width: 100%;
    margin-top: 80px;
}

.main .section-uno .text-contein{
    width: 90vw;
    margin: 0 auto;
}
.main .section-uno .backimg{
    width: 100%;
    background-image: url(../img/back_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main .section-uno .backimg .subtitle{
    font-size: 60px;
    color: var(--amarillo);
    text-shadow: black 1px 1px;
    padding-left: 5px;
}
.main .section-uno .backimg .text{
    padding: 20px 0 20px 5px;
    font-size: 25px;
    line-height: 40px;
    color: white;
    text-shadow: black 1px 1px;
}





/* Section 2 */
.main .section-dos {
    max-width: 90vw;
    min-height: 300px;
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
}

.main .section-dos .title{
    color: var(--amarillo);
    text-align: center;
    font-size: large;
}

/* cotizacion */
.main .section-dos .cotizacion{ 

}

.main .section-dos .cotizacion .form-cotizacion{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    min-height: 300px;
}

.main .section-dos .cotizacion .form-cotizacion .label{
    /* padding: 10px; */
}

.main .section-dos .cotizacion .form-cotizacion .input{
    min-width: 350px;
    min-height: 40px;
    border-radius: 20px;
    text-align: center;
}

.main .section-dos .cotizacion .form-cotizacion .input:hover{
    cursor: pointer;
}

.main .section-dos .cotizacion .btn-section{
    display: flex;
    gap: 30px;
}

.main .section-dos .cotizacion .btn{
    /* float: right; */
    min-height: 40px;
    min-width: 200px;
    padding: 0 15px;
    border-radius:20px;
    background-color: rgb(208, 207, 207);
    border: 1px;
    font-size: medium;
    letter-spacing: 1px;
    transition: background-color 0.5s; 
}

.main .section-dos .cotizacion .btn:hover{
    cursor: pointer;
    /* background-color: rgba(208, 207, 207, 0.6); */
    animation: backcolor 1s infinite alternate;
}

@keyframes backcolor {
    from {background-color: rgba(208, 207, 207, 0.88);}    
    to {background-color: rgba(208, 207, 207, 0.55);}
}






/* contacto */
.main .section-dos .contacto-main{

}

.main .section-dos .contacto-main .icon {
    padding: 20px 0 20px 50px;
    color: black;
}

.main .section-dos .contacto-main .icons img{
    max-height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}





/* Section 3 */
.main .section-tres{

}
.main .section-tres .article-tres{
    background-image: url(../img/domo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    min-height: 300px;
    width: 100%;    
}
.main .section-tres .article-tres .max-width{
    width: 90vw;
    margin: 0 auto;
}
.main .section-tres .article-tres .text-contein{
    float: right;
    padding: 10px 0;
    line-height: 40px;
}

.main .section-tres .article-tres .text-contein .subtitle{
    font-size: 30px;
    color: var(--amarillo);
}

.main .section-tres .article-tres .text-contein .list-productos{
    font-size: 20px;
}




/* Section 4 */
.main .section-cuatro{
    width: 95vw;
    margin-bottom: 10px;
}

.main .section-cuatro .marcas-contein{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.main .section-cuatro .marcas-contein .subtitle{
    color: var(--amarillo);
    font-size: 30px;
    text-align: center;
    grid-area: 2 / 1 / auto / 5;

}

.main .section-cuatro .marcas-contein img{
    width: 250px;
}




/*---------- FOOTER ---------- */
.footer{
    min-height: 20vh;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 1px 1px 7px black;
}

.footer .columns-conten{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer .columns-conten .section-1{
    align-self: center;
}

.footer .columns-conten .section-1 .footer-titulogo{
    display: flex;
}

.footer .columns-conten .section-1 .footer-logo{
    height: 50px;
}

.footer .columns-conten .section-1 .footer-titulo{
    font-size: 25px;
}
.footer .columns-conten .section-1 .footer-subtitulo{
    font-size: 10px;
}

.footer .columns-conten .section-1 .titulo-2{
    color: var(--amarillo);
}

/* Section 2 Servicios */
.footer .columns-conten .section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .columns-conten .section-2 .list-services{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* section 3 contact */
footer .columns-conten .section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .columns-conten .section-3 .contact-section{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
footer .columns-conten .section-3 .icon img{
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}